body {
	background-color: black;	
}
.font-one{
		   font-size: 40px;
		   font-family: "Rubik Wet Paint",cursive;
		   color: yellow;
}
.font-two{
		   font-size: 40px;
		   font-family: "Alumni Sans Inline One", cursive;
		   color: yellow;
		
}          		
.font-three{
		     font-size: 40px;
		     font-family: "Shadows Into Light",cursive;
			 color: yellow;
}
p{
		      text-align: center;
		}